.main {


    width: 100%;
    min-height:100vh;
        background-image: url('../../assets/stripes2.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
   


    background-color: var(--white);
    /* z-index: -1; */
    position: relative;
    top: 0%;


}


.firstDiv{

        margin-top: calc(var(--padd1em)*2);

    width: 80rem;


    display: flex;
    align-items:flex-start;
  
    justify-content: space-between;




    padding: calc(var(--padd1em));
    position: relative;
 


/* border: 2px solid red; */


}


.headline {


    transform: rotate(-90deg);

    position: absolute;
    top: calc(50% + 6rem);
    left: -27%;
    color: var(--green);

    font-size: calc(var(--navItemsXL)* 2);
    /* background-color: var(--white); */


}

.firstDivSmallBox{


padding: calc(var(--padd1em));
    color: var(--grey);
    background-color: var(--white);

font-size: calc(var(--posao));

/* border: 2px solid navy; */

}


.firstDivBigBOX{
    background-color: var(--white);
    width: 35rem;
    padding: var(--padd1em);

    /* border: 2px solid teal; */



    font-size: calc(var(--posao)*1.2);
}
.firstDivBigBOX div{
    padding: calc(var(--padd1em));
    margin-bottom: var(--padd1em);
}



.firstDivBigBOX div:hover{
    transform: scale(1.15)translateX(-1rem);
    transition: .6s;
    background: var(--grey);
    color: var(--white);
    border-radius: var(--radius);

}



.thrredDiv{
    margin-top: calc(var(--padd1em)*3);
max-width: 100rem;
padding: var(--padd1em);
font-size: calc(var(--navItemsXL)* 3);

color: var(--grey);
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;



/* border: 2px solid yellowgreen; */

}

.fourDiv{
    width: 60rem;
    padding: var(--padd1em);

    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;   
   
}


.fourDiv div:hover{
    transition:.7s;
   transform: scale(1.2);
   border-radius: 0%;
 background-color: var(--white);
   
}
.fourDiv div{
    width: 25rem;
    height: 20rem;
    padding: var(--padd1em);
    font-size:calc( var(--posao)*1.05 );
    background-color: var(--green);
    color: var(--black);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
}




.fiveDiv{
width: 80rem;


    display: flex;
    align-items: first baseline;

    justify-content: space-between;




    padding: calc(var(--padd1em));
    position: relative;

}



.headline2 {


    transform: rotate(-90deg);

    position: absolute;
    top: calc(50% + 17rem);
    right: -27%;
    color: var(--green);

    font-size: calc(var(--navItemsXL)* 2);



}



.nevidljiviDiv {
    position: absolute;


    width: 1.5rem;

    height: 1.5rem;

    background-color: var(--green);
    border-radius: 50%;



    z-index: 20;



}




.nevidljiviDiv2 {
    position: absolute;


    width: 10rem;

    height: 10rem;
 z-index: 20;

    background:  url('../../assets/astronaut.jpg');
    
    
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;



}


@media(max-width:100rem) {
.thrredDiv {
        margin-top: calc(var(--padd1em)*3);
        max-width: 80rem;
        padding: var(--padd1em);
        font-size: calc(var(--navItemsXL)* 2);

        color: var(--grey);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;





    }


}




@media(max-width:80rem) {
.firstDiv {

        margin-top: calc(var(--padd1em)*2);

        width: 60rem;


        display: flex;
        align-items: flex-start;

        justify-content: space-between;




        padding: calc(var(--padd1em));
        position: relative;






    }


    .headline {


        transform: rotate(-90deg);

        position: absolute;
        top: calc(50% + 8rem);
        left: -27%;
        color: var(--green);

        font-size: calc(var(--navItemsXL)* 2);
        /* background-color: var(--white); */


    }

    .firstDivSmallBox {


        padding: calc(var(--padd1em));
        color: var(--grey);
        background-color: var(--white);

        font-size: calc(var(--posao));

    }


    .firstDivBigBOX {
        background-color: var(--white);
        width: 40rem;
        padding: var(--padd1em);



        font-size: calc(var(--posao)*1.2);
    }

    .firstDivBigBOX div {
        padding: calc(var(--padd1em));
        margin-bottom: var(--padd1em);
    }





    .thrredDiv {
        margin-top: calc(var(--padd1em)*3);
        max-width: 60rem;
        padding: var(--padd1em);
        font-size: calc(var(--navItemsXL)* 2);

        color: var(--grey);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;




    }

    .fourDiv {
        width: 60rem;
        padding: var(--padd1em);

        color: var(--grey);
        display: flex;
        align-items: center;
        justify-content: space-between;

    }




    .fourDiv div {
        width: 25rem;
        height: 20rem;
        padding: var(--padd1em);
        font-size: calc(var(--posao)*1.05);
        background-color: var(--green);
        color: var(--black);
        border-radius: var(--radius);
        display: flex;
        align-items: center;
        justify-content: center;
    }




    .fiveDiv {
        width: 60rem;


        display: flex;
        align-items: first baseline;

        justify-content: space-between;




        padding: calc(var(--padd1em));
        position: relative;

    }



}






@media(max-width:60rem) {
    .firstDiv {

        margin-top: calc(var(--padd1em)*2);

        width: 95%;


        display: flex;
        align-items: flex-start;

        justify-content: space-between;




        padding: calc(var(--padd1em));
        position: relative;






    }


    .headline {


        transform: rotate(-90deg);

        position: absolute;
        top: calc(50% + 4rem);
        left: -22%;
        color: var(--green);

        font-size: calc(var(--navItemsXL)* 1.5);
        /* background-color: var(--white); */


    }

    .firstDivSmallBox {


        padding: calc(var(--padd1em));
        color: var(--grey);
        background-color: var(--white);

        font-size: calc(var(--posao));

    }


    .firstDivBigBOX {
        background-color: var(--white);
        width: 40rem;
        padding: var(--padd1em);



        font-size: calc(var(--posao)*1.1);
    }

    .firstDivBigBOX div {
        padding: .5em;
        margin-bottom: var(--padd1em);
    }





    .thrredDiv {
        margin-top: calc(var(--padd1em)*1.5);
        max-width: 95%;
        padding: var(--padd1em);
        font-size: calc(var(--navItemsXL)* 1.5);

        color: var(--grey);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;




    }

    .fourDiv {
        width: 95%;
        padding: var(--padd1em);

        color: var(--grey);
        display: flex;
        align-items: center;
        justify-content: space-between;

    }




    .fourDiv div {
        width: 22rem;
        height: 20rem;
        padding: var(--padd1em);
        font-size: calc(var(--posao)*1.05);
        background-color: var(--green);
        color: var(--black);
        border-radius: var(--radius);
        display: flex;
        align-items: center;
        justify-content: center;
    }




    .fiveDiv {
        width: 60rem;


        display: flex;
        align-items: first baseline;

        justify-content: space-between;




        padding: calc(var(--padd1em));
        position: relative;

    }



}










@media(max-width:48rem) {
    .firstDiv {

        margin-top: calc(var(--padd1em)*1.5);

        width: 98%;


        display: flex;
        flex-direction: column;
        align-items: flex-start;

        justify-content: space-between;




        padding: calc(var(--padd1em));
        position: relative;






    }


    .headline {


        transform: rotate(0deg);

        position: relative;
        top: calc(50% + 4rem);
        left: 0%;
        color: var(--green);

        font-size: calc(var(--navItemsXL)* 1.25);
        /* background-color: var(--white); */


    }

    .firstDivSmallBox {


        padding: calc(var(--padd1em));
        color: var(--grey);
        background-color: var(--white);

        font-size: calc(var(--posao));

    }


    .firstDivBigBOX {
        background-color: var(--white);
        width: 100%;
        padding: var(--padd1em);



        font-size: calc(var(--posao));
    }

    .firstDivBigBOX div {
        padding: .25em;
        margin-bottom: var(--padd1em);
    }





    .thrredDiv {
        margin-top: calc(var(--padd1em)*1);
        max-width: 98%;
        padding: .5em;
        font-size: calc(var(--navItemsXL)* 1);

        color: var(--grey);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;




    }

    .fourDiv {
        width: 98%;
        padding: var(--padd1em);

        color: var(--grey);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }




    .fourDiv div {
        width: 22rem;
        height: 20rem;
        padding: .5em;
        font-size: calc(var(--posao));
        background-color: var(--green);
        color: var(--black);
        border-radius: var(--radius);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--padd1em);
    }




    .fiveDiv {
        width: 60rem;


        display: flex;
        align-items: first baseline;

        justify-content: space-between;




        padding: calc(var(--padd1em));
        position: relative;

    }



}