

.secondDiv {

    margin-top: calc(var(--padd1em)*5);
    position: relative;
  




    width: 55rem;
    max-height: 30rem;


    color: var(--grey);


    display: flex;
    align-items: center;

    align-items: center;
    justify-content: center;



    padding: var(--padd1em);





}


.secondDiv img {
    max-height: 33rem;
    width: 100%;

    border-radius: var(--radius);

}


.secondDiv::after {
    display: inline-block;
    content: ' ';
    height: 15rem;
    width: 15rem;
    border: .3em solid var(--green);
    position: absolute;
    top: -25%;
    right: -5%;
    border-radius: var(--radius);
    animation: vrti 5s linear infinite;
    background-color: var(--white);


}


.secondDiv::before {
    content: "";
    background-image: url('../../assets/phone.jpg');
    background-size: cover;

    position: absolute;
    bottom: -25%;
    left: -5%;
    border-radius: var(--radius);
    width: 15rem;
    height: 15rem;


}


.nevidljiviDiv2 {
    position: absolute;


    width: 10rem;

    height: 10rem;
    z-index: 20;

    background: url('../../assets/ljudi2.jpg');


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



}

@keyframes vrti {
    0%{
        transform: rotate(0deg)scale(0.5);border-radius: 1em;
    }
        50% {
            transform: rotate(360deg);
                border-radius: 6em;
        }

                100% {
                    transform: rotate(0deg) scale(1);
                    border-radius: 1em;
                }
    
}


@media(max-width:80rem) {
.secondDiv {

        margin-top: calc(var(--padd1em)*17);
        position: relative;





        width: 55rem;
        max-height: 30rem;


        color: var(--grey);


        display: flex;
        align-items: center;

        align-items: center;
        justify-content: center;



        padding: var(--padd1em);


  


    }


    .secondDiv img {
        max-height: 33rem;
        width: 100%;

        border-radius: var(--radius);

    }


    .secondDiv::after {
        display: inline-block;
        content: ' ';
        height: 15rem;
        width: 15rem;
        border: .3em solid var(--green);
        position: absolute;
        top: -25%;
        right: -5%;
        border-radius: var(--radius);
        animation: vrti 5s linear infinite;
        background-color: var(--white);


    }


    .secondDiv::before {
        content: "";
        background-image: url('../../assets/phone.jpg');
        background-size: cover;

        position: absolute;
        bottom: -25%;
        left: -5%;
        border-radius: var(--radius);
        width: 15rem;
        height: 15rem;


    }
}










@media(max-width:60rem) {
    .secondDiv {

        margin-top: calc(var(--padd1em)*10);
        position: relative;





        width: 95%;
        max-height: 30rem;


        color: var(--grey);


        display: flex;
        align-items: center;

        align-items: center;
        justify-content: center;



        padding: var(--padd1em);


 


    }


    .secondDiv img {
        max-height: 33rem;
        width: 100%;

        border-radius: var(--radius);

    }


    .secondDiv::after {
        display: none;
        content: ' ';
        height: 15rem;
        width: 15rem;
        border: .3em solid var(--green);
        position: absolute;
        top: -25%;
        right: -5%;
        border-radius: var(--radius);
        animation: vrti 5s linear infinite;
        background-color: var(--white);


    }


    .secondDiv::before {
        display: none;
        content: "";
        background-image: url('../../assets/phone.jpg');
        background-size: cover;

        position: absolute;
        bottom: -25%;
        left: -5%;
        border-radius: var(--radius);
        width: 15rem;
        height: 15rem;


    }
}






@media(max-width:60rem) {
    .secondDiv {

        margin-top: calc(var(--padd1em)*8);
        position: relative;





        width: 95%;
        max-height: 28rem;


        color: var(--grey);


        display: flex;
        align-items: center;

        align-items: center;
        justify-content: center;



        padding: var(--padd1em);


      


    }


    .secondDiv img {
        max-height: 30rem;
        width: 100%;

        border-radius: var(--radius);

    }


    .secondDiv::after {
        display: none;
        content: ' ';
        height: 15rem;
        width: 15rem;
        border: .3em solid var(--green);
        position: absolute;
        top: -25%;
        right: -5%;
        border-radius: var(--radius);
        animation: vrti 5s linear infinite;
        background-color: var(--white);


    }


    .secondDiv::before {
        display: none;
        content: "";
        background-image: url('../../assets/phone.jpg');
        background-size: cover;

        position: absolute;
        bottom: -25%;
        left: -5%;
        border-radius: var(--radius);
        width: 15rem;
        height: 15rem;


    }
}


@media(max-width:48rem) {
    .secondDiv {

        margin-top: calc(var(--padd1em)*1);
        position: relative;





        width: 95%;
        max-height: 35rem;


        color: var(--grey);


        display: flex;
        align-items: center;

        align-items: center;
        justify-content: center;



        padding: var(--padd1em);





    }


    .secondDiv img {
        max-height: 35rem;
        width: 100%;

        border-radius: var(--radius);

    }


    .secondDiv::after {
        display: none;
        content: ' ';
        height: 15rem;
        width: 15rem;
        border: .3em solid var(--green);
        position: absolute;
        top: -25%;
        right: -5%;
        border-radius: var(--radius);
        animation: vrti 5s linear infinite;
        background-color: var(--white);


    }


    .secondDiv::before {
        display: none;
        content: "";
        background-image: url('../../assets/phone.jpg');
        background-size: cover;

        position: absolute;
        bottom: -25%;
        left: -5%;
        border-radius: var(--radius);
        width: 15rem;
        height: 15rem;


    }
}